$primary-color: #333;
$link_color: #2B3E4D;
$hd_top_height: 50px;
@mixin  box-sizing($box_sizing){
    -moz-box-sizing : $box_sizing;
         box-sizing : $box_sizing;
}

body{
    padding:0;
}
a{
    color: $link_color;
    text-decoration: none;
}
a:hover{
      text-decoration: none
}
dd{
    margin:0;
}
li{
    list-style: none
}
menu, ol, ul {
    padding:0;margin:0;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.pure-g-r>div,
.pure-g>div{
    @include box-sizing(border-box);
}
.pure-button-search{
    background: rgb(246, 212, 33)
}

#doc{ 
    color: $primary-color;
}
#hd_top{
    height: $hd_top_height;
    line-height: $hd_top_height;
    border-bottom: 1px solid #999;
}
#gohome {
    padding-left: 30px;
    font-size: 15px;
    a{
        color: #424242;
    }
}
#localdate{
    float:right;
    margin: 0 5px 0 5px;
}

#social_link{
    float:right;
    margin: 0 5px;
    li{
        background:#0A71A2;
        width: 34px;
        height: 34px;
        margin-right: 2px;
        display: inline-block;
        border-radius: 100%;
    }
    li a{
        cursor: pointer;
        display: block;
        text-align: center;
        font-size: 1.5em;
        line-height: 32px;
        color: #fff
    }
    li a:hover{
        font-size:1.8em;
    }
    li:nth-child(1){
        background:#0A71A2
    }
    li:nth-child(2){
        background:#424AA2
    }
    li:nth-child(3){
        background:#EC8449
    }
    li:nth-child(4){
        background:#C48920
    }
    li:nth-child(5){
        background:#505050
    }
    li:nth-child(6){
        background:#0A71A2
    }
    li:nth-child(7){background:#168BDA}
}

#hd{
    height: auto;
    background: #282C35;
    border-bottom: 1px solid rgb(180, 180, 180);
    h1{
        height: 170px;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 170px;
        color: #fff
    } 
}

ul#cate{
    height: 20px;
    margin: 0 0 5px 0;
    font-size: 1.2em;
    li{
        margin-right: 10px;
        display: inline-block;
    }
    li a{
        color:#999
    }
    li.default a{
        color:#FFF;
        font-weight:bold
    }
}

#searchbtn{position: absolute;right: -3px;top: 1px;height: 38px;}
#sbwrap{
    width: 63%;
    position: relative;
    input[type=submit]{
        width: 108px;
        float: left;
    }
}
#search_input{width: 98%;height: 30px;background: #FDFAFA;display: inline-block;}

#ft{text-align: center;padding: 10px;background: black;color: #666;}

#containter{
    #l nav h4{
        font-size: 1.5em;
        background: #DDD;
    }
    #l nav li{
        border-bottom: 1px solid #EEE;
        height: 40px;
        line-height: 40px;
        text-indent: 20px;
        font-size: 19px;
    }
    #l nav li:hover{
        background:#E9E9E9;
        cursor: pointer;
    }
}
#newtab.content,
#ec.content,
#ec .bd.content{
    padding:0.5em
}
#newtab ul,
#ec ul.top{
    width: auto;
}
#newtab li,
#ec ul.top li{
    background: #eee;
    cursor: pointer;
    width: 20%;
    float: left;
    text-align: center;
    font-size: 1.2em;
    list-style: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}

/*nth-child start from  1*/

#news_and_ec ul.top{
    li:nth-child(1){
           border-top: 4px solid rgb(241, 184, 79);
       }
    li:nth-child(2){
           border-top: 4px solid rgb(169, 156, 201)
       }
    li:nth-child(3){
           border-top: 4px solid #3D3D7E;
       }
    li:nth-child(4){
           border-top: 4px solid #3CC3DD;
       }
    li:nth-child(5){
           border-top: 4px solid #8CE7A2;
       }
}

#logo_right{
    margin-top: 45px;
    padding-left: 50px;
    @include  box-sizing(border-box)}

#newtab li.cur,
#ec ul.top li.cur{
    background: #FFF;
    padding-bottom: 1px;
    border-bottom: none;
}
#newtab li a:hover,
#ec ul.top li a:hover{
    text-decoration:none
}
#newtab li:hover,
#ec ul.top li:hover{
    background:#fff
}

#newtab{
    .bd{
        padding: 10px;
        @include  box-sizing(border-box);
    }
    img{
        width: 35%;
        height: 120px;
        display: block;
        float: left;
        margin: 10px;
        background: #F3F0F0;
    }
    dl{
        float: right;
        width: 58%;
    }
     dt{
        font-weight:bold;
        font-size:1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    dd{
        min-height: 35px;
    }
    a.more{
        clear: both;
        float:right;
    }
}
#news_and_ec {
    border-right: 1px solid #C4CAD3;
    @include box-sizing(border-box);
    border-left: 1px solid #C4CAD3;
}

#ec{
    margin-top:10px;
    clear: both;
    .bd.content li{
         float:left;
         margin-bottom: 10px;
         display: block;
         width: 50%;
    }
    .bd.content li a{
        display:block;
    }
    .bd.content li label{
        width:100px;
        background:#EEB3B3;
        display:block;
        float:left;
        margin-right:4px;
    }
    .bd.content li img{
        background:#EBEBEB;
        display:block;
        width:100px;
        height:64px;
    }
}

#user_area{
    float:right;
}
#nav_link{
    @include box_sizing(border-box);
    height:100%;
    background: #FFF;
    .content .left{
        @include box_sizing(border-box);
    }
    nav h4{
        margin:0;
        text-indent: 15px;
        padding:10px;
        background:#C4CAD3;
    }
}


#div_link_group{
    a:not(:last-child):after{
        content:"|";
    }
    a{
        color: #B4B4B4;
    } 
    a:hover{
        color:#FFF;
    }
}
/*http://stackoverflow.com/questions/7788018/css-selector-for-other-than-the-first-child-and-last-child*/


#message{
    h3{
        margin:0;
    }
    .content{    
        background: #C4CAD3;
        border-bottom: 6px solid #146897;
        @include box-sizing(border-box);
        padding: 10px;
    }
    .mail_data{
        width:100%;
        border:none;
    }
    .mail_data td{
        height:50px;
    }

}

#fresh_more{
    text-align: center
}
